---
http_interactions:
- request:
    method: get
    uri: https://www.strava.com/api/v3//gear/b4633214?access_token=e6b524548e8202ba30f30d13e2d6cb58b48eab8a
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '600,30000'
      Etag:
      - W/"7c14a6fa6399e00d0e6e9fed1309a192"
      X-Ratelimit-Usage:
      - '1,47'
    body:
      encoding: ASCII-8BIT
      string: '{"id":"b4633214","primary":true,"name":"SWORKS Tarmac SL6 Arc-en-Ciel","resource_state":3,"distance":2799459.0,"brand_name":"Specialized","model_name":"Sworks
        tarmac sl6","frame_type":3,"description":"SaganSuperStar"}'
  recorded_at: Sat, 08 Sep 2018 15:16:52 GMT
recorded_with: VCR 4.0.0
