---
http_interactions:
- request:
    method: get
    uri: https://www.strava.com/api/v3//gear/------?access_token=e6b524548e8202ba30f30d13e2d6cb58b48eab8a
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Status:
      - 400 Bad Request
      X-Ratelimit-Limit:
      - '600,30000'
      X-Ratelimit-Usage:
      - '2,48'
    body:
      encoding: ASCII-8BIT
      string: '{"message":"Bad Request","errors":[{"resource":"Gear","field":"id","code":"invalid"}]}'
  recorded_at: Sat, 08 Sep 2018 15:24:14 GMT
recorded_with: VCR 4.0.0
